@use 'styles.scss' as *;

.form-control {
  background-color: var(--light-color);
  width: 400px;
  padding: 16px 32px;
  border-radius: var(--border-R);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
}

.label-control {
  //background-color: gray;
  font-size: 1rem;
  color: var(--prime-color);
  align-content: center;
}

.label-control-value {
  font-size: 1rem;
  color: var(--dark-color);
  align-content: center;
}

.input-control {
  width: auto;
  font-size: 1rem;
  color: var(--dark-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-r);
  padding: 0.5rem;
  transition: border-color var(--transition-speed);

  &:focus {
    border-color: var(--prime-color);
    outline: none;
  }
}

.error-message {
  //background-color: green;
  color: var(--error-color);
  font-size: 0.7rem;
  display: block;
  padding-bottom: 8px;
  height: 16px;
}

.submit-control {
  padding: 16px 0px;
}