@use 'app/styles/form-styles.scss' as *;

:host {
    //background-color: magenta;
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-items: center;
}

.login-container {
    //background-color: red;
    display: grid;
    grid-template-columns: 25% auto;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper .input-control {
    padding-right: 24px;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    app-svg-icon {
        pointer-events: none;
    }
}

.redirect-resend-confirmation {
    color: var(--dark-color);
    width: 100%;
    padding-top: 16px;
    font-size: 1rem;
    text-align: left;
}

.redirect-register {
    color: var(--dark-color);
    width: 100%;
    padding-top: 16px;
    font-size: 0.8rem;
    text-align: left;
    border-top: 1px solid var(--mid-color);
    margin-top: 16px;
}

.google-login-wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.g_id_signin {
  display: flex !important;
}