<form class="form-control" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="control-title">
        <app-svg-icon [svg]="ICONS[AUTH_ITEMS.LOGIN]" size="lg"></app-svg-icon>
        <h2>{{ AUTH_ITEMS.LOGIN }}</h2>
    </div>
    <div class="login-container">
        <label class="label-control" for="username">Username</label>
        <input class="input-control" type="text" id="username" name="username" required formControlName="username"
            appErrorMessage [errorElement]="usernameError" />
        <div></div>
        <div class="error-message" #usernameError></div>

        <label class="label-control" for="password">Password</label>
        <div class="password-wrapper">
            <input class="input-control" [type]="showPassword() ? 'text' : 'password'" id="password" name="password"
                required formControlName="password" appErrorMessage [errorElement]="passwordError" />
            <div type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                <app-svg-icon [svg]="showPassword() ? ICON.EYE_OPEN : ICON.EYE_CLOSE"></app-svg-icon>
            </div>
        </div>
        <div></div>
        <div class="error-message" #passwordError></div>

        <div class="submit-control">
            <button type="submit" [disabled]="form.invalid || isLoading()">Login</button>
        </div>
        <div>
            @if (isLoading()) { <app-loader></app-loader> }
        </div>
    </div>

    <app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>
    @if (showReconfirm()) {
    <div class="redirect-resend-confirmation">
        Request email confirmation <a [href]="ROUTES.EMAIL.RESEND_EMAIL_CONFIRMATION">here.</a>
    </div>
    }

    <div class="redirect-register">
        Don't have an account? <a [href]="ROUTES.AUTH.REGISTER">Register here.</a>
    </div>
</form>

<!-- Google button -->
<div class="google-login-wrapper">
    <div #googleButton class="g_id_signin"></div>
</div>