<form class="form-control" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="control-title">
        <app-svg-icon [svg]="ICON.LOGIN" size="lg"></app-svg-icon>
        <h2>Login</h2>
    </div>
    <div class="login-container">
        <label class="label-control" for="username">Username</label>
        <input class="input-control" type="text" id="username" name="username" required formControlName="username"
            appErrorMessage [errorElement]="usernameError" />
        <div></div>
        <div class="error-message" #usernameError></div>

        <label class="label-control" for="password">Password</label>
        <input class="input-control" type="password" id="password" name="password" required formControlName="password"
            appErrorMessage [errorElement]="passwordError" />
        <div></div>
        <div class="error-message" #passwordError></div>

        <div class="submit-control">
            <button type="submit" [disabled]="form.invalid">Login</button>
        </div>
    </div>
    <app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>
</form>

<div class="redirect-register">
    Don't have an account? <a [href]="ROUTES.AUTH.REGISTER">Register here.</a>
</div>