@use 'app/styles/form-styles.scss' as *;

:host {
    //background-color: magenta;
    padding: 32px;
}

.login-container {
    display: grid;
    grid-template-columns: 25% auto;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper .input-control {
  padding-right: 24px;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  app-svg-icon {
    pointer-events: none;
  }
}

.redirect-register {
    align-items: left;
    padding: 16px;
    font-size: 0.9rem;
    color: var(--prime-color);
    width: 100%;
}