@use 'app/styles/form-styles.scss' as *;

.error-message-container {
  background-color: var(--error-bg-color);
  display: grid;
  grid-template-columns: auto 30px;
  gap: 16px;
  padding: 24px;
  border-radius: var(--border-R);
  align-items: center;
  width: auto;
}

.error-detail {
  color: var(--error-color);
  display: block;
  font-size: 0.8rem;
}

.error-close-button {
  background: var(--error-bg-color);
  color: var(--error-color);
  border: none;
  border-radius: var(--border-R);
  min-width: 30px;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;

  &:hover:not(:disabled) {
    background-color:  var(--light-color);
  }
}