<form class="form-control" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="control-title">
        <app-svg-icon [svg]="ICONS[USER_ITEMS.REGISTER]" size="lg"></app-svg-icon>
        <h2>{{ USER_ITEMS.REGISTER }}</h2>
    </div>
    <div class="register-container">
        <label class="label-control" for="username">Username</label>
        <input class="input-control" type="text" id="username" name="username" required formControlName="username"
            appErrorMessage [errorElement]="usernameError" />
        <div></div>
        <div class="error-message" #usernameError></div>

        <label class="label-control" for="username">E-mail</label>
        <input class="input-control" type="text" id="email" name="email" required formControlName="email"
            appErrorMessage [errorElement]="emailError" />
        <div></div>
        <div class="error-message" #emailError></div>

        <label class="label-control" for="password">Password</label>
        <div class="password-wrapper">
            <input class="input-control" [type]="showPassword() ? 'text' : 'password'" id="password" name="password"
                required formControlName="password" appErrorMessage [errorElement]="passwordError" />
            <div type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                <app-svg-icon [svg]="showPassword() ? ICON.EYE_CLOSE : ICON.EYE_OPEN"></app-svg-icon>
            </div>
        </div>
        <div></div>
        <div class="error-message" #passwordError></div>

        <label class="label-control" for="password-confirm">Confirm</label>
        <div class="password-wrapper">
            <input class="input-control" [type]="showPassword() ? 'text' : 'password'" id="password-confirm"
                name="password-confirm" required formControlName="passwordConfirm" appErrorMessage
                [errorElement]="passwordConfirmError" />
        </div>
        <div></div>
        <div class="error-message" #passwordConfirmError></div>

        <div class="submit-control">
            <button type="submit" [disabled]="form.invalid">Register</button>
        </div>
    </div>
    <app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>
    <div class="redirect-login">
        Have an account? <a [href]="ROUTES.AUTH.LOGIN">Login here.</a>
    </div>
</form>