@use 'app/styles/form-styles.scss' as *;

:host {
    //background-color: magenta;
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-items: center;
}

.register-container {
    display: grid;
    grid-template-columns: 25% auto;
     padding-bottom: 16px;
}

.redirect-login {
    color: var(--dark-color);
    width: 100%;
    padding-top: 16px;
    font-size: 0.8rem;
    text-align: left;
    border-top: 1px solid var(--mid-color);
}