@use 'app/styles/form-styles.scss' as *;

:host {
    //background-color: magenta;
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-items: center;
}

.register-container {
    display: grid;
    grid-template-columns: 25% auto;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper .input-control {
    padding-right: 24px;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    app-svg-icon {
        pointer-events: none;
    }
}

.result-message {
    color: var(--dark-color);
    width: 100%;
    font-size: 1rem;
    line-height: 2;
    text-align: left;

    .result-user-name {
        font-weight: 500;
    }
}

.redirect-login {
    color: var(--dark-color);
    width: 100%;
    padding-top: 16px;
    font-size: 0.8rem;
    text-align: left;
    border-top: 1px solid var(--mid-color);
    margin-top: 16px;
}