<form class="form-control" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="control-title">
        <app-svg-icon [svg]="ICONS[AUTH_ITEMS.REGISTER]" size="lg"></app-svg-icon>
        <h2>{{ AUTH_ITEMS.REGISTER }}</h2>
    </div>
    @if (isRegistered()) {
    <div class="result-message border-control">
        <app-svg-icon [svg]="ICON.TICK" size="sm"></app-svg-icon>
        <div>
            Thank you for registering, <span class="result-user-name">{{ username() }}</span>!
        </div>
        <app-svg-icon [svg]="ICONS[EMAIL_ITEMS.CONFIRM_EMAIL]" size="sm"></app-svg-icon>
        <div>
            A confirmation email has been sent.<br>
            Follow the link inside to activate your account.
        </div>
    </div>
    }
    @else {
    <div class="register-container">
        <label class="label-control" for="username">Username</label>
        <input class="input-control" type="text" id="username" name="username" required formControlName="username"
            [disabled]="isLoading() || isRegistered()" appErrorMessage [errorElement]="usernameError" />
        <div></div>
        <div class="error-message" #usernameError></div>

        <label class="label-control" for="email">E-mail</label>
        <input class="input-control" type="text" id="email" name="email" required formControlName="email"
            [disabled]="isLoading() || isRegistered()" appErrorMessage [errorElement]="emailError" />
        <div></div>
        <div class="error-message" #emailError></div>


        <label class="label-control" for="password">Password</label>
        <div class="password-wrapper">
            <input class="input-control" [type]="showPassword() ? 'text' : 'password'" id="password" name="password"
                [disabled]="isLoading() || isRegistered()" required formControlName="password" appErrorMessage
                [errorElement]="passwordError" />
            <div type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                <app-svg-icon [svg]="showPassword() ? ICON.EYE_OPEN : ICON.EYE_CLOSE"></app-svg-icon>
            </div>
        </div>
        <div></div>
        <div class="error-message" #passwordError></div>

        <label class="label-control" for="password-confirm">Confirm</label>
        <div class="password-wrapper">
            <input class="input-control" [type]="showPassword() ? 'text' : 'password'" id="password-confirm"
                [disabled]="isLoading() || isRegistered()" name="password-confirm" required
                formControlName="passwordConfirm" appErrorMessage [errorElement]="passwordConfirmError" />
        </div>
        <div></div>
        <div class="error-message" #passwordConfirmError></div>

        <div class="submit-control">
            <button type="submit" [disabled]="form.invalid || isLoading()">Register</button>
        </div>
        <div>
            @if (isLoading()) { <app-loader></app-loader> }
        </div>

    </div>
    }

    <div class="redirect-login">
        Have an account? <a [href]="ROUTES.AUTH.LOGIN">Login here.</a>
    </div>
</form>
<app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>