@use 'styles.scss' as *; // "stylePreprocessorOptions": { "includePaths": ["src"] }

$card-width: 450px;
$card-height: 700px;

:host {
  //background-color: magenta;
  padding: 0px;
}

.flashcard-deck-container {
  //background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-counter {
    //background-color: blue;
    width: $card-width;
    text-align: right;
    font-size: 0.9rem;
    color: var(--second-color);
  }

  .card-bookmark {
    height: 1px;
    //background-color: red;
    width: $card-width;
    text-align: right;
    font-size: 1.2rem;
    translate: -24px 0px;
    cursor: pointer;
    user-select: none;
  }

  .deck {
    height: $card-height;
    width: $card-width;
  }

  .navigation-controls {
    //background-color: green;
    width: $card-width;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
    gap: 8px;
  }
  
  .bookmark-controls {
    display: flex;
    flex-direction: column;
    //padding: 16px;
  }
}