<div class="flashcard-deck-container">

    <app-filter (themeSelected)="themeId = $event"></app-filter>

    <div class="card-counter">
        {{ index() }} / {{ total() }}
    </div>
    <div class="card-bookmark">
        @if (isMarked()) {
        <app-svg-icon [svg]="ICON.BOOKMARK" size="lg"></app-svg-icon>
        }
    </div>
    <div class="deck">
        <app-flashcard [card]="card()?.card"></app-flashcard>
    </div>
    <div class="navigation">
        <button class="left" (click)="onPreviousCard()" [disabled]="!prevCard()">
            {{ prevCard()?.wordText }}
        </button>
        <button class="right" (click)="onNextCard()" [disabled]="!nextCard()">
            {{ nextCard()?.wordText }}
        </button>
    </div>

</div>
<app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>