<app-filter (filter)="applyFilter($event)"></app-filter>

<div class="flashcard-deck-container">
    @if (card()) {
    <div class="card-counter">
        {{ index() }} / {{ total() }}
    </div>
    <div class="card-bookmark">
        @if (isMarked()) {
        <app-svg-icon [svg]="ICON.BOOKMARK" size="lg"></app-svg-icon>
        }
    </div>
    <div class="deck">
        <app-flashcard [card]="card()?.card"></app-flashcard>
    </div>
    <div class="navigation-controls">
        <button class="left" (click)="onPreviousCard()" [disabled]="!prevCard()">
            {{ prevCard()?.wordText }}
        </button>
        <button class="right" (click)="onNextCard()" [disabled]="!nextCard()">
            {{ nextCard()?.wordText }}
        </button>
    </div>
    @if (filter().isMarked === 0) { <!-- All -->
    <div class="bookmark-controls">
        <button (click)="onBookmark()">
            @if (isMarked()) {
            <app-svg-icon [svg]="ICON.UNBOOKMARK" size="sm"></app-svg-icon>Unmark
            } @else {
            <app-svg-icon [svg]="ICON.BOOKMARK" size="sm"></app-svg-icon>Mark
            }
        </button>
    </div>
    }} @else {
    <div class="border-control">No cards match the filter.</div>
    }
</div>

<app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>