@use 'styles.scss' as *; // "stylePreprocessorOptions": { "includePaths": ["src"] }

$card-width: 450px;
$card-height: 700px;

:host {
  //background-color: magenta;
  margin-top: -32px;
}

.flashcard-deck-container {  
  //background-color: yellow;
  display: flex;
  flex-direction: column;

  .card-counter {
    //background-color: blue;
    width: $card-width;
    text-align: right;
    font-size: 0.9rem;
    color: var(--second-color);
  }

  .deck {
    //background-color: red;
    height: $card-height;
    width: $card-width;
  }

  .navigation {    
    //background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}