<div class="flashcard-deck-container">
    @if (isLoading()) {
    <app-loader></app-loader>
    } @else {

    @if (cards().length > 0) {
    <div class="card-counter">
        {{ currentIndex() + 1 }} / {{ cards().length }}
    </div>
    <div class="deck">
        <app-flashcard [card]="currentCard()"></app-flashcard>
    </div>
    <div class="navigation">
        <button class="left" (click)="onPreviousCard()" [disabled]="previousCardText() === ''">
            {{ previousCardText() }}
        </button>
        <button class="right" (click)="onNextCard()" [disabled]="nextCardText() === ''">
            {{ nextCardText() }}
        </button>
    </div>
    } @else {

    }
    }
</div>
<app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>