<div class="flashcard-deck-container">
    @if (cards().length > 0) {
        <div class="card-counter">
            {{ currentIndex() + 1 }} / {{ cards().length }}
        </div>
        <div class="deck">
            <app-flashcard [flashcard]="currentCard()"></app-flashcard>
        </div>
        <div class="navigation">
            <button class="left" (click)="previousCard()" [disabled]="currentIndex() === 0">
                {{ previousCardText() }}
            </button>
            <button class="right" (click)="nextCard()" [disabled]="currentIndex() === cards().length - 1">
                {{ nextCardText() }}
            </button>
        </div>
    } @else {
        <p>No flashcards available. Loading...</p>
    }
</div>