<app-filter (filter)="applyFilter($event)"></app-filter>
<div class="activity-container">
    <div class="result-counter">
        <app-svg-icon [svg]="ICON.TICK" size="md"></app-svg-icon>
        @if (total() > 0) { {{ result() }} / {{ total() }} }
    </div>
    <div class="border-control">
        <div class="control-title">
            <app-svg-icon [svg]="ICON.PUZZLE" size="lg"></app-svg-icon>
            <h2>Fill Blank</h2>
            <!-- @if (isLoading()) { <app-loader></app-loader> } -->
        </div>
        <div class="fill-blank-text">{{ fillBlank()?.fillBlank?.blankTemplate }}</div>
        <div class="words-container">
            @if (fillBlank()) {
            @for (word of fillBlank()?.words; track word.id) {
            <app-word [simple]="true" [word]="word" (wordClick)="onWordSelected($event)"></app-word>
            }
            }
        </div>
    </div>
</div>
<app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>
@if (fillBlank()) {
<app-word-results #resultsComponent></app-word-results>
}