<form class="form-control" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="control-title">
        <app-svg-icon [svg]="ICONS[AUTH_ITEMS.RESET_PASSWORD_REQUEST]" size="lg"></app-svg-icon>
        <h2>{{ AUTH_ITEMS.RESET_PASSWORD_REQUEST }}</h2>
    </div>
    @if (isResetPasswordRequested()) {
    <div class="result-message border-control">
        <app-svg-icon [svg]="ICON.TICK" size="sm"></app-svg-icon>
        <div>
            Password reset link sent!
        </div>
        <app-svg-icon [svg]="ICON.MAIL" size="sm"></app-svg-icon>
        <div>
            Check your email for the reset link.<br>
            Click it to create a new password.
        </div>
    </div>
    }
    @else {
    <div class="main-container">
        <label class="label-control" for="email">E-mail</label>
        <input class="input-control" type="text" id="email" name="email" required formControlName="email"
            [disabled]="isLoading() || isResetPasswordRequested()" appErrorMessage [errorElement]="emailError" />
        <div></div>
        <div class="error-message" #emailError></div>

        <div class="submit-control">
            <button type="submit" [disabled]="form.invalid || isLoading()">Send Reset Link</button>
        </div>
        <div>
            @if (isLoading()) { <app-loader></app-loader> }
        </div>

    </div>
    }

    <div class="redirect-login">
        Have an account? <a [href]="ROUTES.AUTH.LOGIN">Login here.</a>
    </div>
</form>
<app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>