<form class="form-control" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="control-title">
        <app-svg-icon [svg]="ICONS[EMAIL_ITEMS.CONFIRM_EMAIL]" size="lg"></app-svg-icon>
        <h2>{{ EMAIL_ITEMS.CONFIRM_EMAIL }}</h2>
    </div>
    <div class="resend-container">
        <label class="label-control" for="email">E-mail</label>
        <input class="input-control" type="text" id="email" name="email" required formControlName="email"
            appErrorMessage [errorElement]="emailError" />
        <div></div>
        <div class="error-message" #emailError></div>

        @if (!result()) {
        <div class="submit-control">
            <button type="submit" [disabled]="form.invalid || isLoading()">Send Confirmation</button>
        </div>
        <div>
            @if (isLoading()) { <app-loader></app-loader> }
        </div>
        }
    </div>
    @if (result()) {
    @if (result()?.isAlreadyConfirmed) {
    <div class="result-message border-control">
        Email already confirmed. Please <a [href]="ROUTES.AUTH.LOGIN">Login here.</a>
    </div>
    } @else {
    <div class="result-message border-control">
        A confirmation email has been sent
        <app-svg-icon [svg]="ICONS[EMAIL_ITEMS.CONFIRM_EMAIL]" size="sm"></app-svg-icon><br>
        Follow the link inside to activate your account.
    </div>
    }
    }
    <app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>

    @if (!result()?.isAlreadyConfirmed) {
    <div class="redirect-login">
        Have an account? <a [href]="ROUTES.AUTH.LOGIN">Login here.</a>
    </div>
    }  @else {
    <div class="redirect-login">
        You are welcome!
    </div>
    }
</form>