@use 'app/styles/form-styles.scss' as *;

:host {
    //background-color: magenta;
    padding: 32px;
    min-width: 600px;
}

.profile-container {
    //background-color: red;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 24px;
    user-select: none;
}

.info-container {
    display: grid;
    grid-template-columns: 90px auto;
    gap: 8px;
    margin-bottom: 16px;
}

.change-name-container {
    display: grid;
    grid-template-columns: 90px auto;
    padding: 16px;
}

.password-reset-container {
    display: grid;
    grid-template-columns: 90px auto;
    padding: 16px;
}

.delete-profile-container {
    display: grid;
    grid-template-columns: 90px auto;
    padding: 16px;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper .input-control {
    padding-right: 24px;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    app-svg-icon {
        pointer-events: none;
    }
}

.menu-panel {
    background-color: var(--light-color) ;
    margin-bottom: 16px;
    border-radius: 25px;
}

.result-message {
    color: var(--dark-color);
    font-size: 1rem;
    line-height: 2;
    text-align: left;
}