<div class="border-control">
    <div class="control-title">
        <app-svg-icon [svg]="ICONS[USER_ITEMS.PROFILE]" size="xl"></app-svg-icon>
        <h2> {{ USER_ITEMS.PROFILE }}</h2>
        @if (isLoading()) { <app-loader></app-loader> }
    </div>
    <div class="profile-container">
        <div class="info-container border-control">
            <label class="label-control">Username</label>
            <label class="label-control-value">{{ username() }}</label>
            <label class="label-control">Email</label>
            <label class="label-control-value">{{ email() }}</label>
        </div>
        <mat-expansion-panel class="menu-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <app-svg-icon [svg]="ICONS[USER_ITEMS.CHANGE_NAME]"></app-svg-icon>
                    {{ USER_ITEMS.CHANGE_NAME }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="formNewUsernameSave" (ngSubmit)="onNewUsernameSave()">
                <div class="change-name-container">
                    <label class="label-control" for="username-new">Username</label>
                    <input class="input-control" type="text" formControlName="newUsername" id="username-new"
                        name="username-new" required appErrorMessage [errorElement]="usernameError" />
                    <div></div>
                    <div class="error-message" #usernameError></div>

                    <div class="submit-control">
                        <button type="submit" [disabled]="formNewUsernameSave.invalid || isLoading()">Save Username</button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
        @if (provider() === CONST_AUTH.PROVIDER_LOCAL) {
        <mat-expansion-panel class="menu-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <app-svg-icon [svg]="ICONS[USER_ITEMS.CHANGE_PASSWORD]"></app-svg-icon>
                    {{ USER_ITEMS.CHANGE_PASSWORD }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="formNewPasswordSave" (ngSubmit)="onNewPasswordSave()">
                <div class="password-reset-container">
                    <label class="label-control" for="old-password">Old</label>
                    <div class="password-wrapper">
                        <input class="input-control" [type]="showOldPassword() ? 'text' : 'password'"
                            formControlName="oldPassword" id="old-password" required [disabled]="isLoading()"
                            appErrorMessage [errorElement]="oldPasswordError" />
                        <div type="button" class="toggle-password" (click)="toggleOldPasswordVisibility()">
                            <app-svg-icon [svg]="showOldPassword() ? ICON.EYE_OPEN : ICON.EYE_CLOSE"></app-svg-icon>
                        </div>
                    </div>
                    <div></div>
                    <div class="error-message" #oldPasswordError></div>

                    <label class="label-control" for="new-password">New</label>
                    <div class="password-wrapper">
                        <input class="input-control" [type]="showOldPassword() ? 'text' : 'password'"
                            formControlName="newPassword" id="new-password" required [disabled]="isLoading()"
                            appErrorMessage [errorElement]="newPasswordError" />
                    </div>
                    <div></div>
                    <div class="error-message" #newPasswordError></div>

                    <div class="submit-control">
                        <button type="submit" [disabled]="formNewPasswordSave.invalid || isLoading()">Save Password</button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
        }
        <mat-expansion-panel class="menu-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <app-svg-icon [svg]="ICONS[USER_ITEMS.PROFILE_DELETE]"></app-svg-icon>
                    {{ USER_ITEMS.PROFILE_DELETE }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="formDeleteProfile" (ngSubmit)="onDeleteProfile()">
                <div class="delete-profile-container">
                    <label class="label-control" for="profile-password">Password</label>
                    <div class="password-wrapper">
                        <input class="input-control" [type]="showProfilePassword() ? 'text' : 'password'"
                            formControlName="profilePassword" id="profile-password" required [disabled]="isLoading()"
                            appErrorMessage [errorElement]="profilePasswordError" />
                        <div type="button" class="toggle-password" (click)="toggleProfilePasswordVisibility()">
                            <app-svg-icon [svg]="showProfilePassword() ? ICON.EYE_OPEN : ICON.EYE_CLOSE"></app-svg-icon>
                        </div>
                    </div>
                    <div></div>
                    <div class="error-message" #profilePasswordError></div>

                    <div class="submit-control">
                        <button type="submit" [disabled]="formDeleteProfile.invalid || isLoading()">Delete Profile</button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </div>
    <app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>
</div>