<mat-nav-list class="side-menu-list">  
    
    <!-- Start Activity (expandable) -->  
    <mat-expansion-panel class="menu-panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <app-svg-icon [svg]="ICONS[ACTIVITY_ITEMS.START_ACTIVITY]"></app-svg-icon> {{ ACTIVITY_ITEMS.START_ACTIVITY }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="quiz" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <app-svg-icon [svg]="ICONS[ACTIVITY_ITEMS.QUIZ]"></app-svg-icon> {{ ACTIVITY_ITEMS.QUIZ }}
        </a>
        <a mat-list-item routerLink="type-word" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <app-svg-icon [svg]="ICONS[ACTIVITY_ITEMS.TYPE_WORD ]"></app-svg-icon> {{ ACTIVITY_ITEMS.TYPE_WORD }}
        </a>
        <a mat-list-item routerLink="fill-blank" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <app-svg-icon [svg]="ICONS[ACTIVITY_ITEMS.FILL_BLANK]"></app-svg-icon> {{ ACTIVITY_ITEMS.FILL_BLANK }}
        </a>
    </mat-expansion-panel>

    <!-- View Cards (expandable) -->
    <mat-expansion-panel class="menu-panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <app-svg-icon [svg]="ICONS[CARDS_ITEMS.VIEW_CARDS]"></app-svg-icon> {{ CARDS_ITEMS.VIEW_CARDS }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="cards-deck" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            [queryParams]="{bookmarkId: 0}">
            <app-svg-icon [svg]="ICONS[CARDS_ITEMS.DECK]"></app-svg-icon> {{ CARDS_ITEMS.DECK }}
        </a>
        <a mat-list-item routerLink="cards-deck" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            [queryParams]="{bookmarkId: 1}">
            <app-svg-icon [svg]="ICONS[CARDS_ITEMS.MARKED]"></app-svg-icon> {{ CARDS_ITEMS.MARKED }}
        </a>
        <a mat-list-item routerLink="words-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <app-svg-icon [svg]="ICONS[CARDS_ITEMS.LIST]"></app-svg-icon> {{ CARDS_ITEMS.LIST }}
        </a>
    </mat-expansion-panel>
     
    <!-- Change {lev} Level -->
    <a class="item-out" mat-list-item routerLink="change-level" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <app-svg-icon [svg]="ICONS[USER_ITEMS.CHANGE_LEVEL]"></app-svg-icon> {{ USER_ITEMS.CHANGE_LEVEL}} - {{ userLevel() }}
    </a>    
    
    <!-- My Progress -->
    <a class="item-out" mat-list-item routerLink="progress" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <app-svg-icon [svg]="ICONS[USER_ITEMS.PROGRESS]"></app-svg-icon> {{ USER_ITEMS.PROGRESS }}
    </a>

</mat-nav-list>
<div class="break-line"></div>
<mat-nav-list class="side-menu-list">
    <!-- Help -->
    <a class="item-out" mat-list-item routerLink="help" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <app-svg-icon [svg]="ICONS[USER_ITEMS.HELP]"></app-svg-icon> {{ USER_ITEMS.HELP }}
    </a>
    <!-- Logout -->
    <a class="item-out" mat-list-item routerLink="logout" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <app-svg-icon [svg]="ICONS[USER_ITEMS.LOGOUT]"></app-svg-icon> {{ USER_ITEMS.LOGOUT }}
    </a>
</mat-nav-list>