@use 'styles.scss' as *;

:host {
    //background-color: magenta;
    padding: 32px;
    width: 600px;
}

.progress-container {
    //background-color: red;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 24px;

    .summary-container {
        //background-color: red;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 32px;

        .summary-title {
            display: flex;
            flex-direction: row;
            gap: 8px;   
            align-items: center;
            border-bottom: 1px solid var(--mid-color);

            .summary-name {
                color: var(--dark-color);
                font-size: 1rem;
                font-weight: 500;
            }
        }

        .summary-groups {
            //background-color: green;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .summary-group {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .group-key {
                    color: var(--dark-color);
                    font-size: 1rem;
                }

                .group-content {
                    display: grid;
                    grid-template-columns: 30px 20% 1fr;
                    gap: 8px;
                    padding-left: 16px;
                    align-items: center;
                }
            }
        }
    }
}