<div class="border-control">
    <div class="control-title">
        <app-svg-icon [svg]="ICONS[USER_ITEMS.PROGRESS]" size="xl"></app-svg-icon>
        <h2>{{ USER_ITEMS.PROGRESS }}</h2>
    </div>
    <div class="progress-container">
        @for (summary of groupedProgress(); track summary.name) {
        <div class="summary-container border-control">
            <div class="summary-title">
                <app-svg-icon [svg]="ICONS[summary.name]" size="lg"></app-svg-icon>
                <div class="summary-name">{{ summary.name }}</div>
            </div>
            <div class="summary-groups">
                @for (group of summary.groups; track group.key) {
                <div class="summary-group">
                    <div class="group-content">
                        <app-svg-icon [svg]="ICONS[group.key]"></app-svg-icon>
                        <div class="group-key">{{ group.key }}</div>
                        <app-progress-bar [total]="group.totalAttempts" [value]="group.correctCount"></app-progress-bar>
                    </div>
                </div>
                }
            </div>

        </div>
        }
    </div>
</div>
<app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>