<form class="form-control" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="control-title">
        <app-svg-icon [svg]="ICONS[AUTH_ITEMS.LOGOUT]" size="lg"></app-svg-icon>
        <h2> {{ AUTH_ITEMS.LOGOUT }}</h2>
        @if (isLoading()) { <app-loader></app-loader> }
    </div>
    <div class="logout-container">
        <label class="label-control">Username</label>
        <label class="label-control-value">{{ username() }}</label>

        <div class="submit-control">
            <button type="submit" [disabled]="isLoading()">Logout</button>
        </div>
    </div>
    <app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>
</form>