@use 'styles.scss' as *;

:host {
    display: flex;
    align-items: center;
    gap: 8px;
}

.progress-container {
    width: 100%;
    height: 16px;
    padding: 4px;
    background: var(--mid-color);
    border-radius: var(--border-R);
    border: 1px solid var(--border-color);
}

.progress-fill {
    height: 100%;
    border-radius: var(--border-R);
    background-color: var(--second-color);
    transition: width 0.3s ease;
}