@use 'styles.scss' as *; 

.svg-icon {
  //background-color: red;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  padding: 8px;
  //color: var(--prime-color);
  user-select: none;
}

.sm { width: 16px; height: 16px; }
.md { width: 24px; height: 24px; }
.lg { width: 32px; height: 32px; }
.xl { width: 40px; height: 40px; }
.xxl { width: 48px; height: 48px; }