<div class="border-control">
    <div class="control-title">
        <app-svg-icon [svg]="ICONS[EMAIL_ITEMS.CONFIRM_EMAIL]" size="xl"></app-svg-icon>
        <h2> {{ EMAIL_ITEMS.CONFIRM_EMAIL }}</h2>
        @if (isLoading()) { <app-loader></app-loader> }
    </div>
    <div class="confirm-container">
        @if (result()) {
        <div class="result-message border-control">
            {{result()?.message}}<br>
            Please <a [href]="ROUTES.AUTH.LOGIN">Login here.</a>
        </div>
        }
    </div>

    <app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>
    @if (showReconfirm()) {
    <div class="redirect-resend-confirmation">
        Request email confirmation <a [href]="ROUTES.EMAIL.RESEND_EMAIL_CONFIRMATION">here.</a>
    </div>
    <div class="redirect-login">
        Have an account? <a [href]="ROUTES.AUTH.LOGIN">Login here.</a>
    </div>
    } @else {
    <div class="redirect-login">
        You are welcome!
    </div>
    }

</div>