@use 'styles.scss' as *;

/*:host {
    background-color: magenta;
}*/

.level {
    background-color: var(--light-color);
    color: var(--dark-color);
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-r);
    cursor: pointer;
    position: relative;
    align-content: center;
    text-align: center;
    user-select: none;

    &.checked {
        background-color: var(--prime-color);
        color: var(--light-color);
        border-color: var(--light-color);
        transform: scale(1.38);
    }

    &:hover:not(:disabled) {
        background-color: var(--prime-color-dark);
        color: var(--light-color);
        border-color: var(--light-color);
    }

    &:active:not(:disabled) {
        transform: scale(0.98);
    }
}