@use 'styles.scss' as *;

/*:host {
    background-color: magenta;
}*/

.level {
    background-color: var(--light-color);
    color: var(--dark-color);
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-r);
    cursor: pointer;
    position: relative;
    align-content: center;
    text-align: center;
    user-select: none;

    &:hover:not(:disabled) {
        background-color: var(--prime-color-dark);
        color: var(--light-color);
        border-color: var(--light-color);
        z-index: 2;
    }

    &.checked {
        background-color: var(--prime-color);
        color: var(--light-color);
        border-color: var(--light-color);
        transform: scale(1.2); // 40 → 48px
        z-index: 3;
    }

    &:active:not(:disabled) {
        transform: scale(0.95); // 40 → 38px, checked: 48 → ~45.6px
        transition: transform 0.1s ease;
        z-index: 4;
    }

    &.checked:active:not(:disabled) {
        transform: scale(1.2) scale(0.95); // 1.2 * 0.95 = 1.14 → ~45.6px
    }
}