@use 'styles.scss' as *;

$t: .25s;

:host {
    //background-color: magenta;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.level-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .level {
        background-color: var(--light-color);
        color: var(--dark-color);
        width: 100%;
        height: 40px;
        //padding: 0px 16px;
        border: 1px solid var(--light-color);
        border-radius: var(--border-R);
        align-content: center;
        text-align: left;
        font-size: 1rem;
        user-select: none;
        cursor: pointer;

        transition:
            background-color 0.25s ease,
            //color $t ease,
            border-color $t ease,
            transform $t ease,
            box-shadow $t ease,
            z-index 0s;

        &:hover:not(:disabled) {
            background-color: var(--prime-color);
            color: var(--light-color);
            border: 1px solid var(--prime-color-dark);
            z-index: 2;
        }

        &.checked {
            background-color: var(--prime-color);
            color: var(--light-color);
            border: 1px solid var(--prime-color-dark);
            transform: scale(1.1); // 40 → 4prime
            z-index: 3;
            box-shadow: 0px 8px 8px var(--prime-color);
        }

        &:active:not(:disabled) {
            transform: scale(0.95); // 40 → 38px, checked: 48 → ~45.6px
            border: 1px solid var(--prime-color-dark);
            transition: transform 0.1s ease;
            z-index: 4;
        }

        &.checked:active:not(:disabled) {
            transform: scale(1.1) scale(0.95); // 1.2 * 0.95 = 1.14 → ~45.6px
            border: 1px solid var(--prime-color-dark);
        }
    }

    .description {
        font-size: 1rem;
        color: var(--dark-color);
    }
}