@use 'styles.scss' as *;

$card-padding: 32px;

/*:host {
  background-color: green;
  //overflow: hidden; // Скрывать содержимое, если оно превышает размер карточки  
}*/

.flashcard {
  background-color: var(--bg-color);
  padding: $card-padding;
  height: calc(100% - 3*$card-padding);
  margin: 8px;
  display: grid;
  grid-template-rows: auto 7fr auto auto 1fr 1fr;
  gap: 8px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-R);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  user-select: none;

  .header {
    //background-color: blue;
    display: grid;
    grid-template-columns: auto auto;

    .level {
      background-color: var(--light-color);
      color: var(--second-color);
      font-size: 0.9rem;
      padding: 4px;
      border-radius: var(--border-R);
    }

    .part-of-speech {
      //background-color: orange;
      font-size: 0.9rem;
      font-style: italic;
      text-align: left;
      padding: 4px;
      color: var(--second-color);
    }
  }

  .photo-container {
    background-color: var(--light-color);
    width: 100%;
    height: 0;
    padding-top: 100%; // rate 1:1
    position: relative; 
    border-radius: var(--border-R);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; // keep proportions
      border-radius: var(--border-R);
    }
  }

  .word-text {
    font-size: 1.5rem;
    color: var(--dark-color);
    text-align: left;
  }

  .transcription {
    font-size: 1rem;
    color: var(--second-color);
    text-align: left;
  }

  .translation-en {
    font-size: 1rem;
    color: var(--dark-color);
    text-align: left;
  }

  .example {
    font-size: 1rem;
    font-style: italic;
    color: var(--dark-color);
    text-align: left;
  }
}