@use 'styles.scss' as *;

:host {
    //background-color: magenta;
    padding: 32px;
}

.levels-container {
    //background-color: red;
    display: flex;
    flex-direction: column;

    .levels {
        //background-color: red;
        display: flex;
        flex-direction: row;
        padding: 0px 8px 16px 8px;
        gap: 16px;
    }
}