@use 'styles.scss' as *;

:host {
    //background-color: magenta;
    padding: 32px;
}

.levels-container {
    //background-color: red;
    display: flex;
    flex-direction: column;

    .levels {
        //background-color: green;
        display: flex;
        flex-direction: row;
        width: auto;
        padding: 16px 32px 32px 32px;
        gap: 16px;
    }
}