// Импорт переменных для цветов и теней
@use 'styles.scss' as *;

:host {
    //background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-quiz-container {
    display: flex;
    flex-direction: column;

    .result-counter {
        //background-color: blue;
        text-align: right;
        font-size: 0.9rem;
        color: var(--second-color);
    }

    .quiz-container {
        display: flex;
        flex-direction: column;

        .word-text {
            font-size: 1.5rem;
            color: var(--dark-color);
            text-align: left;
        }

        .quiz-words-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 32px;
        }
    }
}