<app-filter (filter)="applyFilter($event)"></app-filter>
<div class="activity-container">
    <div class="result-counter">
        <app-svg-icon [svg]="ICON.TICK" size="md"></app-svg-icon>
        @if (total() > 0) { {{ result() }} / {{ total() }} }
    </div>
    <div class="border-control">
        <div class="control-title">
            <app-svg-icon [svg]="ICONS[ACTIVITY_ITEMS.QUIZ]" size="xl"></app-svg-icon>
            <h2> {{ ACTIVITY_ITEMS.QUIZ }}</h2>
            <!-- @if (isLoading()) { <app-loader></app-loader> } -->
        </div>
        <div class="word-text">{{ word()?.translation?.ru }}</div>
        <div class="words-container">
            @if (quiz()) {
            @for (word of quiz()?.words; track word.id) {
            <app-word [simple]="true" [word]="word" (wordClick)="onWordSelected($event)"></app-word>
            }
        }
        </div>
    </div>
</div>
<app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>
@if (quiz()) {
<app-word-results #resultsComponent></app-word-results>
}