@use 'styles.scss' as *;

:host {
    //background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-container {
    display: flex;
    flex-direction: column;

    .result-counter {
        //background-color: blue;
        text-align: right;
        font-size: 0.9rem;
        color: var(--second-color);
    }

    .word-text {
        font-size: 1.5rem;
        color: var(--dark-color);
        text-align: center;
    }

    .words-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 16px;
    }
}