@use 'styles.scss' as *;

:host {
    //background-color: magenta;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.word-list-container {
    //background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navigation-controls {
        //background-color: green;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        margin-top: 16px;
    }
}