<app-filter (filter)="applyFilter($event)"></app-filter>
<div class="word-list-container">
    @if (words().length > 0) {
    @for (word of words(); track word.id) {
    <div>
        <app-word [word]="word" (wordClick)="onWordSelected($event)">
        </app-word>
    </div>
    }
    <div class="navigation-controls">
        <button class="left" (click)="onPreviousWords()" [disabled]="!hasPrevious()"></button>
        <button class="right" (click)="onNextWords()" [disabled]="!hasNext()"></button>
    </div>
    }
    @else {
    <p>no words</p>
    }
</div>
<app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>