<app-filter (filter)="applyFilter($event)"></app-filter>
<div class="word-list-container">
    @if (words().length > 0) {
    @for (word of words(); track word.id) {
    <app-word [word]="word" (wordClick)="onWordSelected($event)"></app-word>
    }
    <div class="navigation-controls">
        <button class="left" (click)="onPreviousWords()" [disabled]="!hasPrevious()"></button>
        <button class="right" (click)="onNextWords()" [disabled]="!hasNext()"></button>
    </div>
    }
    @else {
    <div class="border-control">No words match the filter.</div>
    }
</div>
<app-error-message [errorResponse]="errorResponse()" (clearError)="clearError()"></app-error-message>