// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  // Основные цвета
  --prime-color: #1a73e8; // Основной цвет
  --prime-color-dark: #0054c2; // Основной цвет
  --secondary-color: #888b5e; // Вторичный цвет
  --light-color: #ffffff; // Светлый цвет
  --mid-color: #cacaca; // Средний цвет
  --dark-color: #272727; // Темный цвет
  --bg-color: #fcfcfc; // Цвет фона
  --error-color: #d93025; // Цвет ошибки

  --transition-speed: 0.5s;
  --box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  --border-R: 25px;
  --border-r: 12px;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--bg-color); // var(--mat-sys-surface);
  //color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

h1 {
  font-size: 2.5rem;
  color: var(--prime-color);
  text-align: left;
}

h2 {
  //background-color: yellow;
  font-size: 2rem;
  color: var(--prime-color);
  text-align: left;
}

h3 {
  //background-color: orange;
  font-size: 1.75rem;
  color: var(--prime-color);
  text-align: left;
}

.border-control {
  background-color: var(--light-color);
  min-width: 400px;
  padding: 32px 64px;
  border-radius: var(--border-R);
  border: 1px solid var(--mid-color);
  box-shadow: var(--box-shadow);
}

button {
  height: 50px; // Фиксированная высота кнопки
  width: auto; // Автоматическая ширина в зависимости от контента
  min-width: 200px; // Минимальная ширина кнопки
  background-color: var(--prime-color);
  color: white;
  border: none;
  border-radius: var(--border-R);
  cursor: pointer;
  position: relative; // Позиционирование для псевдоэлементов    

  &:hover:not(:disabled) {
    background-color: var(--prime-color-dark);
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: var(--mid-color);
    cursor: not-allowed;
    opacity: 0.2; // Тусклый цвет для отключённой кнопки

    &::after {
      display: none; // Убираем стрелку для задизабленной кнопки
    }
  }

  // Стрелка влево
  &.left {
    &::after {
      content: '';
      position: absolute;
      left: 8px; // Отступ от края
      top: 50%;
      transform: translateY(-50%);
      border: 10px solid transparent; // Создаем стрелку
      border-right-color: white; // Цвет стрелки
    }
  }

  // Стрелка вправо
  &.right {
    &::after {
      content: '';
      position: absolute;
      right: 8px; // Отступ от края
      top: 50%;
      transform: translateY(-50%);
      border: 10px solid transparent; // Создаем стрелку
      border-left-color: var(--light-color); //
    }
  }
}