@use 'styles.scss' as *;

$button-width: 400px;

.word-container {
    //background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.word-mark {
    background-color: var(--light-color);
    border: none;
    //border: 1px solid var(--border-color);
    //color: var(--dark-color);
    min-width: 50px;
    width: 50px;
    height: 50px;
    //font-size: 1.2rem;
    user-select: none;

    &:hover {
        color: var(--light-color);
    }
}

.word-item {
    background-color: var(--light-color);
    border: 1px solid var(--border-color);
    color: var(--dark-color);
    width: $button-width;
    margin: 2px;
    font-size: 1.2rem;
    user-select: none;

    &:hover {
        color: var(--light-color);
    }
}

.word-bookmark {
    height: 1px;
    //background-color: red;
    width: $button-width;
    text-align: right;
    font-size: 1.2rem;
    translate: -24px -60px;
    cursor: pointer;
    user-select: none;
}