@use 'styles.scss' as *;

.word-item {
    background-color: var(--light-color);
    border: 1px solid var(--border-color);
    color: var(--dark-color);
    width: 400px;
    margin: 2px;
    user-select: none;
}