@use 'styles.scss' as *;

$button-width: 400px;
$mark-button-side: 50px;

.word-container {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    align-items: center;
    justify-content: center;
}

.word-mark {
    background-color: var(--backgtound-color);
    border: none;
    min-width: $mark-button-side;
    width: $mark-button-side;
    height: $mark-button-side;    
    user-select: none;
}

.word-item {
    background-color: var(--light-color);
    border: 1px solid var(--border-color);
    color: var(--dark-color);
    width: $button-width;
    margin: 2px;
    font-size: 1.2rem;
    user-select: none;

    &:hover {
        color: var(--light-color);
    }
}

.word-right {
    width: $mark-button-side;
}

.word-bookmark {
    height: 1px;
    //background-color: red;
    width: $button-width;
    text-align: right;
    font-size: 1.2rem;
    translate: -24px -60px;
    cursor: pointer;
    user-select: none;
}