@use 'styles.scss' as *;

$filter-height: 50px;

:host {
    //background-color: magenta;
    display: flex;
    flex-direction: column;
    padding: 16px;    
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.filter-item {
    display: flex;
    flex-direction: row;
}

.filter-title {
    //background-color: yellow;
    height: $filter-height;
    font-size: 2rem;
    align-content: center;
}

.dropdown-selector {
    height: $filter-height;
    border: 1px solid var(--border-color);
    border-radius: var(--border-R);
    align-content: center;
    padding: 0px 24px;
    user-select: none;
    font-size: 1.2rem !important;
}

.s150 {
    min-width: 150px;
}

.s400 {
    min-width: 400px;
}